<header class="app--header">
    <div class="app--header__menu-toggle">
        <button
            class="app--header__action"
            *ngIf="isAuthenticated"
            (click)="onToggleMenu()"
            title="Меню">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 9.5H3M21 4.5H3M21 14.5H3M21 19.5H3"/></svg>
        </button>
    </div>
    <a routerLink="/" class="app--header__name">ШРУМ</a>
    <nav class="app--header__nav" *ngIf="isAuthenticated">
        <ul class="app--header__menu-bar">
            <li>
                <a
                    [routerLink]="['/mushrooms']"
                    class="app--header__menu-item"
                    >Полянка</a>
            </li>
            <li>
                <a
                    [routerLink]="['/create-mushroom']"
                    class="app--header__menu-item"
                    >Добавить гриб</a>
            </li>
        </ul>
    </nav>
    <div class="app--header__actions" *ngIf="isAuthenticated">
        <button
            class="app--header__action"
            (click)="onLogout()"
            title="Выйти">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/></svg>
        </button>
        <button
            class="app--header__action"
            appSwitcher
            (click)="onTogglePanel()"
            title="Лукошко">
            <span *ngIf="addedMushrooms.length > 0" class="app--header__basket"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 2L3 6v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V6l-3-4H6zM3.8 6h16.4M16 10a4 4 0 1 1-8 0"/></svg>
        </button>
    </div>
</header>