<header class="app--header">
    <div class="app--header__menu-toggle">
        <button
            class="app--header__action"
            *ngIf="isAuthenticated"
            (click)="onToggleMenu()"
            title="Меню">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 9.5H3M21 4.5H3M21 14.5H3M21 19.5H3"/></svg>
        </button>
    </div>
    <a routerLink="/" class="app--header__name">ШРУМ</a>
    <nav class="app--header__nav">
        <ul class="app--header__menu-bar">
            <li>
                <a
                    [routerLink]="['/mushrooms', 'edible']"
                    class="app--header__menu-item"
                    *ngIf="isAuthenticated"
                    >Съедобные грибы</a>
            </li>
            <li>
                <a
                    [routerLink]="['/mushrooms', 'inedible']"
                    class="app--header__menu-item"
                    *ngIf="isAuthenticated"
                    >Несъедобные грибы</a>
            </li>
            <li>
                <a
                    [routerLink]="['/create-mushroom']"
                    class="app--header__menu-item"
                    *ngIf="isAuthenticated"
                    >Создать гриб</a>
            </li>
        </ul>
    </nav>
    <div class="app--header__actions">
        <button
            class="app--header__action"
            [routerLink]="['/login']" 
            *ngIf="!isAuthenticated"
            title="Войти">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
        </button>
        <button
            class="app--header__action"
            [routerLink]="['/signup']"
            *ngIf="!isAuthenticated"
            title="Авторизоваться">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
        </button>
        <button
            class="app--header__action"
            *ngIf="isAuthenticated"
            (click)="onLogout()"
            title="Выйти">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/></svg>
        </button>
        <button
            class="app--header__action"
            *ngIf="isAuthenticated"
            appSwitcher
            (click)="onTogglePanel()"
            title="Лукошко">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
        </button>
    </div>
</header>