@import '../../scss/global/spacing';
@import '../../scss/global/colors';

.app--header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $spacing-5xl;
    background-color: #221F20;
    z-index: z('header');
    border-bottom: 1px solid gray;
}

.app--header__name {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $spacing-2xl;
    margin: 0 $spacing-xl 0 $spacing-5xl;
    text-decoration: none;
    user-select: none;
    outline: none;
    color: white;
    border: 2px solid transparent;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: rem(32px);
}

.app--header__name:focus {
    border-color: white;
}

.app--header__nav {
    height: 100%;
}

.app--header__menu-bar {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.app--header__menu-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $spacing-2xl;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
}

.app--header__menu-item:hover {
    background-color: gray;
}

.app--header__menu-item:focus {
    border-color: white;
}

.app--header__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0%;
    height: 100%;
}

.app--header__action {
    position: relative;
    height: $spacing-5xl;
    border: 2px solid transparent;
    background-color: transparent;
    color: white;
    width: rem(40px);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.app--header__action:hover {
    background-color: gray;
}

.app--header__action:active {
    background-color: gray;
    color: #fff;
}

.app--header__action:focus {
    @include focus-outline('reset');
    border-color: #fff;
}

.app--header__action--active {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 2px solid #221F20;
}

.app--header__menu-toggle {
    display: none;
    position: absolute;
}

.app--header__basket {
    position: absolute;
    top: $spacing-xs;
    right: $spacing-xs;
    width: rem(12px);
    height: rem(12px);
    background-color: $ui-02;
    border-radius: 50%;
}

@media (max-width: 55rem) {
    .app--header__nav {
        display: none;
    }
    .app--header__menu-toggle {
        display: block;
    }
}