<header class="app--header">
    <a routerLink="/" class="app--header__name">ШРУМ</a>
    <nav class="app--header__nav">
        <ul class="app--header__menu-bar">
            <li>
                <a
                    [routerLink]="['/mushrooms', 'edible']"
                    class="app--header__menu-item"
                    >Съедобные грибы</a>
            </li>
            <li>
                <a
                    [routerLink]="['/mushrooms', 'inedible']"
                    class="app--header__menu-item"
                    >Несъедобные грибы</a>
            </li>
            <li>
                <a
                    [routerLink]="['/create-mushroom']"
                    class="app--header__menu-item"
                    >Создать гриб</a>
            </li>
        </ul>
    </nav>
    <div class="app--header__actions">
        <button class="app--header__action app--btn" [routerLink]="['/auth']">Авторизоваться</button>
        <button class="app--header__action app--btn" (click)="onLogin()">Зайти</button>
        <button class="app--header__action app--btn" (click)="onLogout()">Выйти</button>
    </div>
</header>