.app--fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: $spacing-2xl;
}

.app--form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-2xl;
}

.app--label {
    @include type-style('label');
    padding: 0;
    display: inline-block;
    vertical-align: initial;
    margin: 0 0 $spacing-x 0;
}

.app--text-input {
    padding: 0 $spacing-x;
    width: 340px;
    height: $spacing-5xl;
    background-color: $field;
}

.app--text-input {
    padding: 0 $spacing-x;
    width: 340px;
    height: $spacing-5xl;
    background-color: $field;
    color: $text-01;
    border: none;

    &:focus,
    &:active {
        outline: 2px solid $interactive-primary;
    }
}

input.ng-invalid.ng-touched {
    border: 2px solid $support-error;
    
}

.app--form-requirement {
    @include type-style('helper-text');
    padding-top: $spacing-xs;
    color: $support-error;
}