

.app--form > * + * {
     margin-top: $spacing-3xl;
     align-items: flex-start;
}

.app--form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input.ng-invalid.ng-touched {
    @include focus-outline('invalid');
}

.app--form-requirement {
    @include type-style('helper-text');
    padding-top: $spacing-xs;
    color: $support-error;
}