.app--label {
    @include type-style('label');
    padding: 0;
    display: inline-block;
    vertical-align: initial;
    margin: 0 0 $spacing-x 0;
}

.app--text-input {
    padding: 0 $spacing-x;
    width: 100%;
    max-width: rem(350px);
    height: $spacing-5xl;
    background-color: $field;
    color: $text-01;
    border: none;

    &:focus,
    &:active {
        @include focus-outline('outline');
    }
}