.app--label {
    @include type-style('label');
    padding: 0;
    display: inline-block;
    vertical-align: initial;
    margin: 0 0 $spacing-x 0;
}

.app--text-input {
    @include type-style('body-01');
    padding: 0 $spacing-x;
    width: 100%;
    height: $spacing-5xl;
    background-color: $field;
    color: $text-01;
    border: none;
    border-bottom: 1px solid $ui-03;
    transition: outline $duration--fast $motion--standard-easing;

    &:focus,
    &:active {
        @include focus-outline('outline');
    }
}