
<section class="app--auth">
    <h1>{{ logingMode }}</h1>
    <app-notification
        *ngIf="error"
        [title]="'Ошибка:'"
        [subtitle]="error"
        (click)="onHandleError()">
    </app-notification>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="app--form-item">
            <label for="email" class="app--label">Логин</label>
            <input
                type="email"
                id="login"
                [(ngModel)]="login"
                #userEmail = "ngModel"
                name="email"
                class="app--text-input"
                email
                required>
                <span *ngIf="!userEmail.valid && userEmail.touched" class="app--form-requirement">Введите корректный email</span>
        </div>
        <div class="app--form-item">
            <label for="password" class="app--label">Пароль</label>
            <input
                class="app--text-input"
                type="password"
                id="password"
                [(ngModel)]="password"
                #userPassword = "ngModel"
                name="password"
                required
                minlength="6">
                <span
                    *ngIf="!userPassword.valid && userPassword.touched"
                    class="app--form-requirement">Введите пароль из не менее 6 знаков</span>
        </div>
        <div>
            <button
                class="app--btn app--btn--primary"
                type="submit"
                [disabled]="!authForm.valid">Продолжить</button>
        </div>
    </form>
</section>
<div class="app--image"></div>
<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
