@import '../../scss/global/helper_mixins';
@import '../../scss/global/colors';
@import '../../scss/global/spacing';

:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: calc(100vh - 48px);
    margin-left: $spacing-7xl;
}

.app--auth {
    width: 100%;
    max-width: rem(400px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: $spacing-4xl;
}

.app--image {
    flex-basis: 0;
    flex-grow: 999;
    background-image: url('../../assets/all.png');
    background-repeat: no-repeat;
    background-size: rem(1100px);
    background-position: left bottom;
}

@media (max-width: 42rem) {
    :host {
        margin: 0 $spacing-3xl;
    }
}