<div class="app--side-nav"
    [ngClass]="{'app--side-nav--hidden': !expanded}">
    <nav class="app--side-nav__navigation">
        <ul class="app--side-nav__items">
            <li class="app--side-nav__item">
                <a class="app--side-nav__link" [routerLink]="['/mushrooms', 'edible']">Съедобные грибы</a>
            </li>
            <li class="app--side-nav__item">
                <a class="app--side-nav__link" [routerLink]="['/mushrooms', 'inedible']">Несъедобные грибы</a>
            </li>
            <li class="app--side-nav__item">
                <a class="app--side-nav__link" [routerLink]="['/create-mushroom']">Создать гриб</a>
            </li>
        </ul>
    </nav>
</div>
