<div class="app--side-nav"
    [ngClass]="{'app--side-nav--hidden': !expanded}">
    <nav class="app--side-nav__navigation">
        <ul class="app--side-nav__items">
            <li class="app--side-nav__item">
                <a class="app--side-nav__link">Съедобные грибы</a>
            </li>
            <li class="app--side-nav__item">
                <a class="app--side-nav__link">Несъедобные грибы</a>
            </li>
            <li class="app--side-nav__item">
                <a class="app--side-nav__link">Создать гриб</a>
            </li>
        </ul>
    </nav>
</div>
