@import '../../scss/global/spacing';
@import '../../scss/global/helper_mixins';
@import '../../scss/global/colors';
@import '../../scss/global/layout';
@import '../../scss/global/motion';

.app--side-nav {
    position: fixed;
    top: $spacing-5xl;
    bottom: 0;
    left: 0;
    width: rem(200px);
    max-width: rem(300px);
    color: $text-01;
    background-color: $background-01;
    will-change: width;
    transition: width $duration--fast $motion--standard-easing;
    overflow: hidden;
    z-index: z('header');
    display: none;
}

.app--side-nav__navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app--side-nav__items {
    flex: 1 1 0%;
    overflow-y: auto;
    padding: $spacing-2xl 0 0;
}

.app--side-nav__item {
    width: auto;
    height: auto;
    overflow: hidden;
}

.app--side-nav__link {
    @include focus-outline('reset');
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: rem(32px);
    padding: 0 $spacing-2xl;
    color: black;
    font-size: rem(14px);
    line-height: rem(20px);
    user-select: none;
    cursor: pointer;
}

.app--side-nav__link:hover {
    background-color: $hover-inverse;
    color: $inverse-content;
}

.app--side-nav__link:focus {
    @include focus-outline('outline');
}

.app--side-nav--hidden {
    @include hidden;
}

@media (max-width: 55rem) {
    .app--side-nav{
        display: block;
    }
}
