@import '../../scss/global/spacing';
@import '../../scss/global/helper_mixins';
@import '../../scss/global/colors';

.app--side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: rem(200px);
  max-width: rem(300px);
  color: black;
  background-color: white;
  will-change: width;
  // TODO: sync with motion work
  transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
  top: $spacing-5xl;
  overflow: hidden;
  z-index: z('header');
  display: none;
}

.app--side-nav__navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app--side-nav__items {
    flex: 1 1 0%;
    overflow-y: auto;
    padding: $spacing-2xl 0 0;
}

.app--side-nav__item {
    width: auto;
    height: auto;
    overflow: hidden;
}

.app--side-nav__link {
    @include focus-outline('reset');
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: rem(32px);
    padding: 0 $spacing-2xl;
    color: black;
    font-size: rem(14px);
    line-height: rem(20px);
    user-select: none;
    cursor: pointer;
}

.app--side-nav__link:hover {
    background-color: gray;
}

.app--side-nav__link:focus {
    @include focus-outline('outline');
}

.app--side-nav--hidden {
    @include hidden;
}

@media (max-width: 55rem) {
    .app--side-nav{
        display: block;
    }
}
