@import '../../../scss/global/colors';
@import '../../../scss/global/spacing';


@mixin animation__loading--spin {
    animation-name: rotate;
    animation-duration: 690ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.app--loading {
    @include animation__loading--spin;
    width: rem(80px);
    height: rem(80px);
}

.app--loading__svg {
    fill: transparent;
}

.app--loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $overflow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: z('overlay');
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}