@import '../../scss/global/spacing';
@import '../../scss/global/colors';
@import '../../scss/global/layout';
@import '../../scss/global/type';
@import '../../scss/global/motion';

.app--mushrooms-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$spacing-x;
    overflow: hidden;
    justify-content: space-around;
    margin: $spacing-4xl;
}

.app--mushroom-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-2xl;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    height: auto;
    height: rem(250px);
    width: rem(250px);
    cursor: pointer;	
}

.app--mushroom-card__name {
    @include type-style('productive-heading-02');
    margin: 180px 0 0 0;
    color: $text-01;
    overflow-wrap: break-word;
    transition: color $duration--fast $motion--ease-out;
}

.app--mushroom-card:hover .app--mushroom-card__name {
    color: $interactive-primary;
}

.app--mushroom-card:active .app--mushroom-card__name {
    color: $active-primary;
}
