<div class="app--mushrooms-list">
    <div class="app--mushroom-card__wrapper" *ngFor="let mushroom of loadedMushrooms">
        <div class="app--mushroom-card" (click)="onAddMushroom(mushroom)"
            [ngStyle]="{'background-image': 'url(' + mushroom.imagePath + ')'}"
            title="Положить в лукошко">
            <p class="app--text-truncate app--mushroom-card__name" title="{{ mushroom.name }}">{{ mushroom.name }}</p>
        </div>
    </div>
</div>
<app-notification
    *ngIf="error"
    [title]="'Ошибка:'"
    [subtitle]="error"
    (click)="onHandleError()">
</app-notification>

<div *ngIf="isFetching && !error">
    <app-loading></app-loading>
</div>
