@import '../../scss/global/spacing';
@import '../../scss/global/colors';

.app--mushrooms-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$spacing-x;
    overflow: hidden;
}

.app--mushroom-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: $spacing-x;
}

.app--mushroom-card__image {
    height: rem(150px);
}

.app--mushroom-card:hover .app--mushroom-card__button {
    display: flex;
}

.app--mushroom-card__button {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overflow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}