@import '../../scss/spacing';

.app--mushrooms-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$spacing-x;
}

.app--mushroom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-x;
}

.app--mushroom-card__image {
    height: rem(150px);
}