<div class="app--mushrooms-list">
    <div class="app--mushroom-card" *ngFor="let mushroom of loadedMushrooms">
        <img
            class="app--mushroom-card__image"
            [src]="mushroom.imagePath"
            alt="{{ mushroom.name }}">
        <p>{{ mushroom.name }}</p>
        <button
            class="app--btn app--btn--secondary"
            (click)="onAddMushroom(mushroom)">Положить в лукошко</button>
    </div>
</div>

<p *ngIf="isFetching && !error">Загрузка...</p>
<app-notification
    *ngIf="error"
    [title]="'Ошибка:'"
    [subtitle]="error"
    (click)="onHandleError()">
</app-notification>
