@import '../../../scss/global/colors';
@import '../../../scss/global/layout';
@import '../../../scss/global/spacing';
@import '../../../scss/global/type';
@import '../../../scss/global/motion';

.app--modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z('modal');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $overflow;
}

.app--modal__container {
    background-color: $background-01;
    width: 80%;
    max-width: rem(800px);
}

.app--modal__header {
    padding: $spacing-2xl $spacing-2xl 0 $spacing-2xl;
}

.app--modal__label {
    @include type-style('label');
    margin: 0 0 $spacing-xs 0;
}

.app--modal__heading {
    @include type-style('heading-01');
    margin: 0 0 $spacing-x 0;
}

.app--modal__content {
    padding: $spacing-2xl $spacing-2xl 0 $spacing-2xl;
    margin-bottom: $spacing-2xl;
}

.app--modal__footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    height: 4rem;
    background-color: $background-02;
    padding: 0 $spacing-2xl;
}
