$motion--ease-in: cubic-bezier(0, 0, 0.38, 0.9);
$motion--ease-out: cubic-bezier(0.2, 0, 1, 0.9);
$motion--standard-easing: cubic-bezier(0.2, 0, 0.38, 0.9);

$duration--slow: 720ms;
$duration--fast: 70ms;
