@import '../../scss/spacing';
@import '../../scss/type';
@import '../../scss/colors';

.app--fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: $spacing-2xl;
}

.app--form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-2xl;
}

.app--label {
    @include type-style('label');
    padding: 0;
    display: inline-block;
    vertical-align: initial;
    margin: 0 0 $spacing-x 0;
}
.app--label + .app--radio-button-group {
    margin: 0;
}

.app--radio-button-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $spacing-x;
}

.app--radio-button-wrapper {
    display: flex;
    flex-direction: row;
}

.app--radio-button__label {
    @include type-style('body');
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: $spacing-x;
}

.app--text-input {
    padding: 0 $spacing-x;
    width: 340px;
    height: $spacing-5xl;
    background-color: $field;
}

.app--text-input {
    padding: 0 $spacing-x;
    width: 340px;
    height: $spacing-5xl;
    background-color: $field;
    color: $text-01;
    border: none;

    &:focus,
    &:active {
        outline: 2px solid $interactive-primary;
    }
}

.app--selected-image {
    display: block;
    max-width: 250px;
}

input.ng-invalid.ng-touched {
    border: 2px solid $support-01;
    
}

.app--form-requirement {
    @include type-style('helper-text');
    padding-top: $spacing-xs;
    color: $support-01;
}
