@import '../../scss/global/spacing';
@import '../../scss/global/type';
@import '../../scss/global/colors';
@import '../../scss/global/helper_mixins';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app--create-mushroom {
    width: 100%;
    max-width: rem(350px);
}

.app--radio-button {
    @include hidden;
}

.app--label + .app--radio-button-group {
    margin: 0;
}

.app--radio-button-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $spacing-x;
}

.app--radio-button-wrapper {
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: row;
    align-items: flex-start;
}

.app--radio-button__label {
    @include type-style('body-01');
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.app--radio-button__appearance {
    cursor: pointer;
    background-color: $field;
    border-radius: 50%;
    border: 1px solid $ui-02;
    flex-shrink: 0;
    height: rem(16px);
    width: rem(16px);
    margin-right: $spacing-x;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app--radio-button:checked + .app--radio-button__label .app--radio-button__appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $ui-02;

    &:before {
      content: '';
      display: inline-block;
      position: relative;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: $ui-02;
    }
}

.app--radio-button:focus {
    box-shadow: 0 0 0 2px $focus;
    outline: 1px solid transparent;
}

.app--selected-image {
    display: block;
    max-width: rem(250px);
    margin: $spacing-xl 0;
}

.app--mushroom-card__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app--mushroom-card__caption {
    @include type-style('heading-01');
}

.app--mushroom-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-2xl;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    height: auto;
    height: rem(250px);
    width: rem(250px);
    margin-bottom: $spacing-xl;
}

.app--mushroom-card__name {
    @include type-style('productive-heading-02');
    margin: 180px 0 0 0;
    color: $text-01;
    overflow-wrap: break-word;
}