<section class="app--modal">
    <div class="app--modal__container">
        <header class="app--modal__header">
            <p class="app--modal__label">Подтверждение</p>
            <p class="app--modal__heading">Вы уверены что хотите уйти без грибка?</p>
        </header>
        <div class="app--modal__content"></div>
        <div class="app--modal__footer">
            <div class="app--btn--set">
                <button class="app--btn app--btn--secondary" (click)="closeModal(false)">Остаться</button>
                <button class="app--btn app--btn--primary" (click)="closeModal(true)">Уйти</button>
            </div>
        </div>
    </div>
</section>