@import '../../scss/global/helper_mixins';
@import '../../scss/global/type';
@import '../../scss/global/spacing';
@import '../../scss/global/colors';
@import '../../scss/global/motion';

:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: calc(100vh - 48px);
    padding-left: $spacing-7xl;
}

.app--home {
    width: rem(400px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app--home__info-wrapper {
    margin-top: $spacing-4xl;
}

.app--home__header {
    @include type-style('productive-heading-03');
    margin: $spacing-5xl 0 $spacing-2xl 0;
}

.app--home__caption {
    @include type-style('body-02');
    margin: 0 0 $spacing-4xl 0;
}

.app--home__credits {
    color: $text-05;
}

.app--home__credits > * {
    margin: 0 0 $spacing-x 0;
}

.app--image {
    flex-basis: 0;
    flex-grow: 999;
    background-image: url('../../assets/all.png');
    background-repeat: no-repeat;
    background-size: rem(1100px);
    background-position: left bottom;
}

.app--link {
    color: $text-05;
    text-decoration: none;
    outline: none;
    transition: $duration--fast $motion--standard-easing;

    &:hover {
        color: $text-03;
        text-decoration: underline;
    }

    &:active,
    &:active:visited,
    &:active:visited:hover {
        color: $text-03;
        text-decoration: underline;
    }

    &:focus {
        @include focus-outline;
    }

    &:visited {
        color: $text-05;
    }

    &:visited:hover {
        color: $text-03;
    }
}