@import '../../scss/global/helper_mixins';
@import '../../scss/global/type';
@import '../../scss/global/spacing';
@import '../../scss/global/colors';
@import '../../scss/global/motion';

:host {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: calc(100vh - 48px);
    margin-left: $spacing-7xl;
}

.app--home {
    width: 100%;
    max-width: rem(400px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app--home__info-wrapper {
    margin: $spacing-4xl $spacing-3xl 0 0;
}

.app--home__header {
    @include type-style('productive-heading-03');
    margin: $spacing-5xl 0 $spacing-2xl 0;
}

.app--home__caption {
    @include type-style('body-02');
    margin: 0 0 $spacing-4xl 0;
}

.app--home__credits {
    color: $text-05;
}

.app--home__credits > * {
    margin: 0 0 $spacing-x 0;
}

.app--image {
    flex-basis: 0;
    flex-grow: 999;
    background-image: url('../../assets/all.png');
    background-repeat: no-repeat;
    background-size: rem(1050px);
    background-position: left bottom;
}

.app--link {
    color: $text-05;
    text-decoration: none;
    outline: none;
    transition: $duration--fast $motion--standard-easing;

    &:hover {
        color: $text-03;
        text-decoration: underline;
    }

    &:active,
    &:active:visited,
    &:active:visited:hover {
        color: $text-03;
        text-decoration: underline;
    }

    &:focus {
        @include focus-outline;
    }

    &:visited {
        color: $text-05;
    }

    &:visited:hover {
        color: $text-03;
    }
}

@media (max-width: 42rem) {
    :host {
        margin: 0 $spacing-3xl;
    }

    .app--home__header {
        @include type-style('productive-heading-04');
    }

    .app--btn--set {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .app--btn--set .app--btn + .app--btn {
        margin: $spacing-x 0 0 0;
    }
}