@import '../../scss/global/spacing';
@import '../../scss/global/colors';
@import '../../scss/global/layout';
@import '../../scss/global/motion';

.app--panel {
    position: fixed;
    top: $spacing-5xl;
    right: 0;
    bottom: 0;
    width: rem(300px);
    background-color: $inverse-background;
    padding: $spacing-2xl;
    color: $inverse-content;
    z-index: z('header');
    will-change: width;
    transition: width $duration--fast $motion--standard-easing;
    display: flex;
    flex-direction: column;
    height: calc(100vh - $spacing-5xl);
}

.app--panel__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.app--structured-list-row {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
}

.app--structured-list-thead {
    display: table-header-group;
    vertical-align: middle;
    border-bottom: 1px solid $ui-04;
}

.app--structured-list-th {
    display: table-cell;
    height: rem(40px);
    text-align: left;
    vertical-align: bottom;
}

.app--structured-list-tbody {
    display: table-row-group;
    vertical-align: middle;
    overflow: hidden auto;
}

.app--structured-list-td {
    position: relative;
    display: table-cell;
    max-width: 36rem;
}

.app--structured-list-td,
.app--structured-list-th {
    padding: $spacing-x 0;
}

.app--structured-list-content--right {
    text-align: right;
}

.app--structured-list__empty {
    margin: $spacing-x 0;
}

.app--panel--expanded {
    display: block;
}

.app--panel--hidden {
    @include hidden;
}

.app--panel__footer {
    display: block;
    flex: 0 0 auto;
    margin-top: auto;
    padding: $spacing-x 0 $spacing-xs 0;
    border-top: 1px solid $ui-04;
}