<aside
    *ngIf="isAuthenticated"
    class="app--panel"
    [ngClass]="{'app--panel--hidden': !expanded}">
    <div class="app--panel__wrapper">
            <div class="app--structured-list-thead">
                <div class="app--structured-list-row app--structured-list-row--header-row">
                    <div class="app--structured-list-th">Выбранные грибки</div>
                    <div class="app--structured-list-th app--structured-list-content--right">Колличество</div>
                </div>
            </div>
            <div class="app--structured-list-tbody" *ngIf="addedMushrooms.length >= 1">
                <div class="app--structured-list-row"  *ngFor="let mushroom of addedMushrooms">
                    <div class="app--structured-list-td"> {{ mushroom.mushroom.name }}</div>
                    <div class="app--structured-list-td app--structured-list-content--right">{{ mushroom.amount }}</div>
                </div> 
            </div>
            <p class="app--structured-list__empty" *ngIf="addedMushrooms.length < 1">Пусто</p>
        <div class="app--panel__footer" *ngIf="addedMushrooms.length > 0">
            <p>{{ gameText }}</p>
            <div class="app--btn--set">
                <button class="app--btn app--btn--primary" (click)="onCheck()">Проверить</button>
                <button class="app--btn app--btn--secondary" (click)="onRestart()">Начать заново</button>
            </div>
        </div>
    </div>
</aside>
